html {
    background: #fbd3d3;
}

header {
    background-color: rgb(192, 223, 210);
}

header p {
    margin: 10px;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    background: #e3e3e3;

}

main {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

h3 {
    font-size: 1em;
    margin: 0;
}

img {
    width: 100%;
}

p {
    line-height: 1.4em;   
}

nav a {
    border: 1px solid gray;
    padding: 5px;
}

#blog {
    border-top: 1px solid #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc; 
}

article {
    border-bottom: 1px solid #000;
}

.author {
    font-style: italic;
}

table {
    font-size: 0.9em;
    border-collapse: seperate;
    border-spacing: 20px;
    border: 1px solid gray;
}

table th{
    font-weight: bold;
    background-color: rgb(197, 247, 197);
}

form label {
    color: rgb(4, 73, 73);
}

form input[type="text"] {
    border: 1px solid gray;
    padding: 5px;
    width: 200px;
}

form button {
    margin-top: 10px;
}