html{
    background: #fbd3d3;
}


body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    background: #e3e3e3;

}

main {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 0;
}

img {
    width: 100%;
}

p {
    line-height: 1.4em;
    
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc; 
}

article {
    border-bottom: 1px solid #000;
}

table {
    font-size: 0.9em;
}